/*========================================================
    File:        common.css
    Description: Common CSS Style for All Pages
========================================================*/

/* + Common CSS - Begin */

/* + Tab Selector */
body
{
    font: 400 12px/1.2em Tahoma, Helvetica, Arial, sans-serif;
}
a, p, span, strong, em, h1, h2, h3, h4, h5, h6
{
    line-height: 1.2em;
}
a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}

/* + Common classes */
/* - Over write base CSS */
.ora,
.ora a,
.ora a:hover,
a.ora:hover         {   color: #ef7526;    }
.pur,
.pur a,
.pur a:hover,
a.pur:hover         {   color: #61468b;    }
    
/* - Common */
.outerglow:hover,
.outerglow:focus
{
    -moz-box-shadow: 0 0 5px #ccf;
    -webkit-box-shadow: 0 0 5px #ccf;
    box-shadow: 0 0 5px #ccf;
}
        
/* - Icons */
.icon-go
{
    width: 14px;
    height: 15px;
    display: inline-block;
    *display: inline;
    vertical-align: text-top;
    background: url(../_imgs/high/icon_go.png) left bottom no-repeat;
}
.bookmark
{
    width: 16px;
    height: 16px;
    display: inline-block;
    *display: inline;
    vertical-align: text-top;
}
.bkmk-sina
{
    background: url(../_imgs/high/bkmk_sina_dis.png) left top no-repeat;
}
.bkmk-sina:hover
{
    background: url(../_imgs/high/bkmk_sina.png) left top no-repeat;
}
.remind
{
    line-height: 20px;
    min-height: 22px;
    _height: 22px;
    padding-left: 30px;
    background: url(../_imgs/high/icon_caution.png) left top no-repeat;
}
.remind-xl
{
    line-height: 19px;
    min-height: 40px;
    _height: 40px;
    padding-left: 52px;
    background: url(../_imgs/high/icon_caution_xl.png) left top no-repeat;
}
.remind-xl p
{
    line-height: 19px;
}
.safety
{
    line-height: 18px;
    min-height: 18px;
    _height: 18px;
    padding-left: 24px;
    background: url(../_imgs/high/icon_safety.png) left top no-repeat;
}
        
/* - Position */
.position
{
    line-height: 22px;
    padding-left: 20px;
    display: inline-block;
    *display: inline;
    background: url(../_imgs/high/icon_position.png) left top no-repeat;
}

/* - Activity Statistic */
#activitystatisticbox
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #ececec;
    padding: 15px 4px;
}
#activitystatisticbox li
{
    padding: 0 19px;
}

/* - Dot Nav */
.dotnav-container
{
    line-height: 0;
}
.dotnav
{
    display: inline-block;
    *display: inline;
}
.dotnav li
{
    margin-left: 4px;
}
.dotnav li a
{
    width: 8px;
    height: 8px;
    display: block;
    cursor: pointer;
    background: url(../_imgs/high/icon_dotnav.png) left top no-repeat;
}
.dotnav li.active a
{
    background-image: url(../_imgs/high/icon_dotnav_active.png);
}

/* + Common CSS - End */