/*========================================================
    File:        frame.css
    Description: Page frame CSS Styles
========================================================*/

/* + Frame CSS - Begin */

/* Page Width */
.pw
{
    width: 81.32em; /* 976px */
    /*width: 80%;*/
}
    
    /* + Header */
    #header
    {
        background-color: #61468b;
    }
        /* - Top Bar */
        #topbar
        {
            background-color: #b49adc;
        }
            #topbar-btn-close
            {
                right: 8px;
                top: 8px;
                line-height: 17px;
                padding-right: 23px;
                background: url(../_imgs/high/topbar.png) right -160px no-repeat;
            }
            #topbar-menu
            {
                right: 0;
                bottom: -20px;
            }
                #topbar-menu li
                {
                    background-color: #b49adc;
                    margin-left: 3px;
                }
                #topbar-menu .active
                {
                    color: #61468b;
                }
            /* - Login */
            #topbar-login
            {
                padding: 15px;
            }
                #topbar-login h2
                {
                    padding-left: 45px;
                    background: url(../_imgs/high/topbar.png) 0 -200px no-repeat;
                }
                #topbar-login h2,
                .tb-login-forgetpass
                {
                    line-height: 38px;
                }
                /* - Login Form */
                #loginform .fb-input
                {
                    min-width: 160px;
                    _width: 160px;
                }
                .loginform-submit
                {
                    background-color: #61468b;
                    border-width: 0;
                    padding: 1px 10px;
                    
                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    border-radius: 3px;
                }
        
        /* - Logo */
        #logo
        {
            padding: 5px;
        }
        #logo p 
        {
            color: #fff;
        }

    /* + Main */
    #main
    {
        background-color: #eff3f2;
        border-top: 1px solid #fff;
    }
        /* - Title */
        #titlebar
        {
            background-color: #dee0df;
            padding: 13px 0 30px;
        }
            #titlebar h2
            {
                color: #5c5c5c;
            }
            .titlebar-link
            {
                line-height: 26px;
            }
        /* - Content */
        #content
        {
            margin-top: -17px;
            padding-bottom: 78px;
        }
            #container
            {
                background-color: #fff;
                padding: 15px 35px;
        
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                border-radius: 10px;
            }
                #container h2
                {
                    padding-bottom: 10px;
                    border-bottom: 1px dotted #b9b9b9;
                }
    
    /* + Footer */
    #footer
    {
        background-color: #fff;
        border-top: 1px solid #dee0df;
        padding: 8px 0;
        line-height: 16px;
    }
        .footer-siteinfo,
        .footer-weibo
        {
            color: #646464;
        }
        .footer-advice
        {
            color: #aeaeae;
        }
        .footer-weibo
        {
            padding-right: 20px;
            background: url(../_imgs/high/bkmk_sina.png) right center no-repeat;
        }
/* + Frame CSS - End */