/*========================================================
    File:        frame.css
    Description: Page frame CSS Styles
========================================================*/

/* + Frame CSS - Begin */

/* Page Width */
.pw
{
    width: 81.32em; /* 976px */
    /*width: 80%;*/
}
    
    /* + Header */
    #header
    {
        background-color: #61468b;
    }
        /* - Top Bar */
        #topbar
        {
            background-color: #b49adc;
        }
            #topbar-btn-close
            {
                right: 8px;
                top: 8px;
                line-height: 19px;
                padding-right: 23px;
                background: url(../_imgs/high/icon_top_close.png) right top no-repeat;
            }
            /* - Menu */
            #topbar-menu
            {
                right: 0;
                bottom: -21px;
            }
                #topbar-menu li
                {
                    margin-left: 1px;
                    border-top: 1px solid #61468b;
                    
                    -moz-border-radius: 0 0 6px 6px;
                    -webkit-border-radius: 0 0 6px 6px;
                    border-radius: 0 0 6px 6px;
                    
                    background-color: #a180d4;
                    /* Firefox 3.6+ */
                    background: -moz-linear-gradient(100% 100% 90deg, #a180d4, #cfbee9); 
                    /* Safari 4-5, Chrome 1-9 */
                    /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */
                    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cfbee9), to(#a180d4)); 
                    /* Safari 5.1+, Chrome 10+ */
                    background: -webkit-linear-gradient(#cfbee9, #a180d4); 
                    /* Opera 11.10+ */
                    background: -o-linear-gradient(#cfbee9, #a180d4);
                }
                #topbar-menu .active
                {
                    color: #61468b;
                    border-top: 1px solid #b49adc;
                    
                    /* Firefox 3.6+ */
                    background: -moz-linear-gradient(100% 100% 90deg, #a180d4, #b49adc); 
                    /* Safari 4-5, Chrome 1-9 */
                    /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */
                    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b49adc), to(#a180d4)); 
                    /* Safari 5.1+, Chrome 10+ */
                    background: -webkit-linear-gradient(#b49adc, #a180d4); 
                    /* Opera 11.10+ */
                    background: -o-linear-gradient(#b49adc, #a180d4);
                }
                #topbar-menu li a
                {
                    line-height: 20px;
                    display: block;
                    padding: 0 15px;
                }
            /* - Login */
            #topbar-login
            {
                padding: 15px;
            }
                #topbar-login h2
                {
                    padding-left: 45px;
                    background: url(../_imgs/high/icon_login.png) left top no-repeat;
                }
                #topbar-login h2,
                .tb-login-forgetpass
                {
                    line-height: 38px;
                }
                /* - Login Form */
                #loginform .fb-input
                {
                    min-width: 160px;
                    _width: 160px;
                }
                .loginform-submit
                {
                    background-color: #61468b;
                    border-width: 0;
                    padding: 1px 10px;
                    
                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    border-radius: 3px;
                }
        
        /* - Logo */
        #logo
        {
            padding: 6px 0 4px 5px;
        }
        #logo p 
        {
            color: #fff;
        }

    /* + Main */
    #main
    {
        background-color: #eff3f2;
        border-top: 1px solid #fff;
    }
        /* - Title */
        #titlebar
        {
            min-height: 26px;
            _height: 26px;
            background-color: #dee0df;
            padding: 13px 0 30px;
        }
            #titlebar h2
            {
                color: #5c5c5c;
            }
            .titlebar-link
            {
                line-height: 26px;
            }
        /* - Content */
        #content
        {
            margin-top: -17px;
            padding-bottom: 78px;
        }
            #container
            {
                background-color: #fff;
                padding: 15px 30px;
        
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                border-radius: 10px;
            }
                #container h2,
                .container-sep-b
                {
                    padding-bottom: 10px;
                    border-bottom: 1px dotted #b9b9b9;
                }
                .container-sep-t
                {
                    padding-top: 10px;
                    border-top: 1px dotted #b9b9b9;
                }
    
    /* + Footer */
    #footer
    {
        background-color: #fff;
        border-top: 1px solid #dee0df;
        padding: 8px 0;
        line-height: 16px;
    }
        .footer-siteinfo,
        .footer-weibo
        {
            color: #646464;
        }
        .footer-advice
        {
            color: #aeaeae;
        }
        .footer-weibo
        {
            padding: 2px 20px 0 0;
            background: url(../_imgs/high/bkmk_sina_dis.png) right top no-repeat;
        }
        .footer-weibo:hover
        {
            background-image: url(../_imgs/high/bkmk_sina.png);
        }
    
    /* + Slide Navigation */
    #slidenav
    {
        left: 0;
        top: 0;
        width: 100%;
        position: fixed;
        _position: absolute;
    }
        #slidenav-btn-prev
        {
            display: block;
            width: 40px;
            height: 80px;
            left: 100px;
            top: 300px;
            background: url(../_imgs/high/slidenav_prev.png) left top no-repeat;
        }
        #slidenav-btn-next
        {
            display: block;
            width: 40px;
            height: 80px;
            right: 100px;
            top: 300px;
            background: url(../_imgs/high/slidenav_next.png) left top no-repeat;
        }
    
/* + Frame CSS - End */