/*========================================================
    File:        form.css
    Description: CSS Styles for forms
========================================================*/

/* + Form */
.formbox
{
}
.formbox .gra
{
    color: #a3a3a3;
}
.fb-title
{
}
.fb-input
{
    border: 1px solid #c3c3c3;
    line-height: 1.7em;
    height: 1.7em;
    min-width: 210px;
    padding: 0 3px;
}
.fb-input[readonly]
{
    background-color: #f3f3f3;
    color: #666;
}
.fb-textarea
{
    border: 1px solid #c3c3c3;
    line-height: 1.7em;
    min-width: 210px;
    padding: 0 3px;
    resize: vertical;
}
.formbox input.btn-yes
{
    padding-top: 2px;
    padding-bottom: 2px;
}
.fb-chkbox
{
}
.fb-tip
{
    width: 108px;
    padding: 3px 8px;
    background-color: #fcc;
}
.icon-formerr
{
}
