/*========================================================
    File:        hotplan.css
    Description: CSS Styles for hot plan
========================================================*/

/* + Hot plan CSS - Begin */
#hotplan h2
{
    line-height: 22px;
    background-color: #61468b;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border-width: 0;
    padding: 0 0 0 10px;
}
.hotplan-container
{
    border: 1px solid #b0b0b0;
    border-top-width: 0;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    padding: 0 0 15px 0;
}
.hotplan-more
{
    line-height: 20px;
    background-color: #ebedec;
    text-align: right;
    border-bottom: 1px solid #b0b0b0;
    padding: 0 10px 0 0;
}
ul.hotplan-list li
{
    margin: 1px 0;
}
ul.hotplan-list li a,
ul.hotplan-list li span
{
    line-height: 22px;
}
.hotplan-item-container
{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.hotplan-item-container:hover
{
    background-color: #e0e8f6;
    border-top-color: #c5d1e8;
    border-bottom-color: #c5d1e8;
}
.hotplan-item
{
    display: block;
    padding: 0 10px 0 15px;
}
.hotplan-item:hover .col-l
{
    text-decoration: underline;
}
.hotplan-item:hover
{
    text-decoration: none;
}
.hotplan-item-join
{
    right: 10px;
    padding-right: 20px;
    background: url(../../_imgs/high/icon_add.png) right center no-repeat;
}
ul.hotplan-list li:hover .hotplan-item-join
{
    display: block;
}
ul.hotplan-list li:hover .hotplan-item-des
{
    display: none;
}
/* + Hot plan CSS - End */