/*========================================================
    File:        mypage.css
    Description: CSS Styles for plan page
========================================================*/

/* + Mypage CSS - Begin */
.col-w
{
    width: 75%;
}
.col-n
{
    width: 22%;
}

/* + My Plan List */
#myplanlist
{
    width: 80%;
}

/* + Title Bar */
#titlebar
{
    padding: 9px 0 25px 0;
}
#titlebar-tip
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding-left: 15px;
    border: 1px solid #61468b;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #61468b;
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(100% 100% 90deg, #61468b, #9d81c8); 
    /* Safari 4-5, Chrome 1-9 */
    /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9d81c8), to(#61468b)); 
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(#9d81c8, #61468b); 
    /* Opera 11.10+ */
    background: -o-linear-gradient(#9d81c8, #61468b);
    -moz-box-shadow: 1px 3px 8px #666;
    -webkit-box-shadow: 1px 3px 8px #666;
    box-shadow: 1px 3px 8px #666;
}
#titlebar-tip p
{
    padding: 10px 10px 10px 30px;
    background: url(../../_imgs/high/icon_tip_light.png) left center no-repeat;
}
.titlebar-tip-btn-close
{
    width: 18px;
    height: 18px;
    display: block;
    left: -8px;
    top: -8px;
    background: url(../../_imgs/high/icon_tip_close.png) left center no-repeat;
}

/* + Publish Box */
#publishbox
{
    background-color: #ebedec;
    border: 1px solid #d8d8d8;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 18px 22px 10px 30px;
}
.publishbox-prong
{
    background: url(../../_imgs/high/icon_prong_up.png) left top no-repeat;
    width: 15px;
    height: 13px;
    left: 164px;
    top: -13px;
}
#publishbox .col-n
{
    width: 48%;
}
#publishbox .col-w
{
    width: 50%;
}
#publishbox-dragbar
{
    width: 210px;
    padding: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    background-color: #9e9e9e;
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(100% 100% 90deg, #eaeaea, #9e9e9e); 
    /* Safari 4-5, Chrome 1-9 */
    /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9e9e9e), to(#eaeaea)); 
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(#9e9e9e, #eaeaea); 
    /* Opera 11.10+ */
    background: -o-linear-gradient(#9e9e9e, #eaeaea);
}
#publishbox-dragbar .ui-slider-range
{
    width: 0;
    height: 14px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e27b02;
    background-color: #fa6400;
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(100% 100% 90deg, #fa6400, #fde5d5); 
    /* Safari 4-5, Chrome 1-9 */
    /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fde5d5), to(#fa6400)); 
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(#fde5d5, #fa6400); 
    /* Opera 11.10+ */
    background: -o-linear-gradient(#fde5d5, #fa6400);
}
#publishbox-dragbar .ui-slider-handle
{
    background: url(../../_imgs/high/icon_drag.png) left top no-repeat;
    width: 43px;
    height: 23px;
    position: absolute;
    left: 0;
    margin-left: -21px;
    top: -1px;
}
#publishbox-input,
#publishbox-input-hint
{
    padding: 0 5px 0 10px;
    width: 95%;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
#publishbox-add li a
{
    margin-left: 30px;
    color: #89898a;
    padding-left: 25px;
    line-height: 18px;
    display: block;
}
#publishbox-add li.first a
{
    margin-left: 0;
}
.publishbox-add-emote a
{
    background: url(../../_imgs/high/icon_emote.png) left top no-repeat;
}
.publishbox-add-photo a
{
    background: url(../../_imgs/high/icon_photo.png) left top no-repeat;
}
.publishbox-add-sound a
{
    background: url(../../_imgs/high/icon_sound.png) left top no-repeat;
}
#publishbox-btn-publish
{
    line-height: 26px;
    padding: 0 17px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #a2a2a2;
    background-color: #ededed;
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(100% 100% 90deg, #ededed, #fff); 
    /* Safari 4-5, Chrome 1-9 */
    /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ededed)); 
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(#fff, #ededed); 
    /* Opera 11.10+ */
    background: -o-linear-gradient(#fff, #ededed);
}
