/*========================================================
    File:        plan.css
    Description: CSS Styles for plan page
========================================================*/

/* + Plan CSS - Begin */
#content
{
    padding-bottom: 20px;
}

.col-n
{
    width: 45%;
}
.col-w
{
    width: 55%;
}

.btn-ora-next-r
{
    padding-right: 13px;
    background-color: #e46716;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #c2550e;
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(100% 100% 90deg, #e46716, #fe893d); 
    /* Safari 4-5, Chrome 1-9 */
    /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fe893d), to(#e46716)); 
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(#fe893d, #e46716); 
    /* Opera 11.10+ */
    background: -o-linear-gradient(#fe893d, #e46716);
}
.btn-ora-next-r span
{
    display: block;
    height: 24px;
    line-height: 23px;
    padding: 0 16px 0 15px;
    background-image: url(../../_imgs/high/icon_next_r.png);
    background-position: right center;
    background-repeat: no-repeat;
}

#plan-name
{
    font-size: 60px;
    font-weight: 400;
}
.planlistbox-btn-more-container
{
    bottom: -26px;
    width: 92.5%;
}
#planlistbox-btn-more
{
    height: 26px;
    line-height: 25px;
    padding: 0 13px 0 37px;
    background: #fff url(../../_imgs/high/icon_btnarrow_down.png) 12px center no-repeat;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* + Plan List */
.planlist-container
{
    margin: 25px 0 0 25px;
}
.planlist li
{
    margin: 0 0 0 78px;
}

/* - Plan Hour Box */
#planhour li
{
    width: 240px;
    padding: 0 25px;
}
.ph-one,
.ph-ten,
.ph-hdrd
{
    display: block;
    cursor: pointer;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
    font-size: 60px;
    line-height: 2em;
}
.ph-one
{
    background-color: #fdc51a;
}
.ph-ten
{
    background-color: #f3a216;
}
.ph-hdrd
{
    background-color: #f37916;
}
#planhour li a:hover
{
    text-decoration: none;
}
.ph-one:hover
{
    box-shadow: 0 0 10px #fdc51a;
}
.ph-ten:hover
{
    box-shadow: 0 0 10px #f3a216;
}
.ph-hdrd:hover
{
    box-shadow: 0 0 10px #f37916;
}
.ph-unit
{
    font-size: 50%;
    margin-left: 8px;
}
    
/* + Plan CSS - End */